# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
.venv/
.venv-1/

# Flask / web
instance/
.webassets-cache

# MySQL and db
database.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Java
*.class

# Logs
*.log

# Dependency folders
node_modules/
